<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>VueJS: Componentes</title>
        <meta name="author" content="">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    </head>

    <body>

        <h1 id="autor">Autor: Pablo Berruezo</h1>

        <!-- https://vuejs.org/v2/guide/index.html -->
        <div id="app">
            <!--
                 TODO: Aplicación VueJS. Ver archivo ./js/script.js
               - Mostrar el título de la colección dentro de un componente Jumbotron de Bootstrap https://getbootstrap.com/docs/4.0/components/jumbotron/. En su interior habrá un <h1> con id "title" que mostrará el título de la colección
               - Para cada item: (https://vuejs.org/v2/guide/index.html#Conditionals-and-Loops)
                 - Crear un componente item-data
            -->
            <div class="jumbotron">
                <h1 class="display-4" id="title">{{ col.collection.title }}</h1>
              </div>
              <div class="container">
                <div class="row" style="margin-left: 1rem;">
                            <div class="card-group">
                                <item-data v-for="item in item" :item="item"></item-data>
                            </div>               
                    </div>
                </div>
            </div>

        </div>



        <!-- Plantilla para el componente edit-form -->
        <script type="text/x-template" id="editForm">

            <dl v-for="data in item.data">
            <dd>{{ data.prompt }}</dd> 
            <input v-if="data.prompt != description" type="text" v-model="data.value">
            <textarea v-else v-model="data.value" type="text"></textarea>
            </dl>
            <button @click="formClose" class="btn btn-primary">Cerrar</button>

        </script>



        <!-- Plantilla para el componente item-data -->
        <script type="text/x-template" id="itemData">

            <div class="card" style="width: 18rem;">
                <div class="card-body" v-show="datos">
                  <dl v-for="data in item.data">
                  <dt>{{ data.prompt }}</dt>
                  <dd>{{ data.value }}</dd>
              </dl>
              <a :href=item.href class="btn btn-primary">Ver</a> 
              <button @click="toggleEditFormVisibility" class="btn btn-secondary">Editar</button>
              </div>
              <div class="card-body" v-show="edicion">
                  <dl v-for="data in item.data">
                      <dt>{{ data.prompt }}</dt> 
                      <input v-if="data.prompt != 'Description'" type="text" v-model="data.value">
                      <textarea v-else v-model="data.value" type="text"></textarea>
                  </dl>
                  <button @click="formClose" class="btn btn-primary">Cerrar</button>
              </div>
           </div>         

        </script>


        <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
        <script src="js/script.js"></script>

    </body>

</html>
